<h1>List of Crimes For Chicago</h1>



<nav>

   <a href="http://localhost:3000/crime">Crimes</a> 


</nav>





<h4> <p>    This site includes a list of Crimes in Chicago, ranging from</br>
			Assault, Battery, Burglary,Murder,Rape, and Robbery.</br>
			The City of Chicago Police Department has released this data,for the community to benefit. </p>




	</h4>





assault, :battery, :burglary, :murder, :rape, :robbery